nav(style='width:100%; background: #222222;').navbar.navbar-default.navbar-fixed-top
    a(href='/')
        div(style='height:125px; width:25%; float: left;')
            center
                img.logo(style='margin:4px;' src='/images/logo.png')
        div(style='height:125px; width:50%; float: left;')
            center
                img(src='/images/wing.png')
        div(style='height:125px; width:25%; float: left;')
            center
                img.logo(style='margin:4px;' src='/images/logo.png')
div(style='height:100px; width:100%')