extends layout

block content
  style(type='text/css').
        .bs-example{
            margin: 20px;
        }
  h3 Your Jobs:
  table.table.table-striped
    each file in files
        tr
            td
                a(href='/show/' + file)= file
            td
                .btn-group.pull-right
                    a(href='/edit/' + file).btn.btn-xs.btn-primary
                        span.glyphicon.glyphicon-wrench
                        |  Edit
                            
                    button.btn.btn-xs.btn-primary
                        span(onClick='alert(\'RUN '+file+'\')').glyphicon.glyphicon-road
                        |  RUNWAY!
                    button.btn.btn-xs.btn-primary
                        span(onClick='alert(\'DELETE'+file+'\')').glyphicon.glyphicon-trash
                        span Delete
            
  a(href='/new')
    button.btn.btn-primary 
        span.glyphicon.glyphicon-plus
        |  New
  button.btn.btn-primary(onClick="runAjax('/ajax/test')")
        span.glyphicon.glyphicon-play
        |  Test
 