doctype html
html
  head
    title Runway Onboarding
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/onboard.css')
    script(src='/javascripts/jquery-2.2.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/onboard.js')
    
  body
    include header.jade
    div
        block content
